$colorWhite: #fff;
$colorBlack: #000;
$colorLink: #1C48E3;
$colorTextHeader: #828282;
$colorHeaderBtn: #060606;
$colorTitle: #383838;
$colorTechTitle: #1F1F1F;
$colorUnderText: #9D9FA1;
$colorTechText: #676767;
$colorFooterBg: #201F24;
$colorFooterTitle: #9A6AFF;
$colorFooterInfoToken: #16131A;
$colorFooterPriceToken: #C7CAD9;
$colorFooterBtn: #2A2432;
$colorTitleContentInfo: #333333;
$colorSubTitleContentInfo: #474747;
$colorBtnContent: #505050;