@import '../../assets/style/allStyle.scss';

.content{
    position: relative;
    background: $colorWhite;
    z-index: 100 !important;

    
    &__title{

        padding-top: 120px;

        h3{
            @include poppinsMedium();

            font-size: 46px;
            color: $colorTitle;
        }
    }

    &__slider{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }

    &__slider-item{
        position: relative;
        border-radius: 10px;
        height: 140px;
        transition: .2s ease-in;

        img{
            width: 240px;
            height: 100%;
            border-radius: 10px;
        }
    }

    &__beforeBlock{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $colorBlack;
        opacity: .7;
        border-radius: 10px;
    }

    &__slider-item.active &__beforeBlock{
        opacity: .4;
    }

    &__slider-text{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            @include jostRegular();

            font-size: 20px;
            color: $colorWhite;
            
        }
    }

    &__slider-next,
    &__slider-back{
        position: absolute;

        img{
            cursor: pointer;
        }
    }

    &__slider-back{
        top: 50px;
        left: -5%;
    }

    &__slider-next{
        top: 50px;
        right: -5%;
    }

    &__slider-info-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__slider-info{
        display: none;
        padding: 50px;
        margin-top: 60px;
        box-shadow: 1px 1px 4px 2px rgba($colorTechText, .3);
    }

    &__slider-info-title{

        h4{
            @include jostMedium();

            font-size: 48px;
            color: $colorTitleContentInfo;
        }

        p{
            @include jostMedium();

            font-size: 22px;
            width: 92%;
            margin-top: 12px;
            color: $colorSubTitleContentInfo;
        }
    }

    
    &__slider-info-img{
        min-width: 320px;
        img{
            width: 100%;
            height: 190px;
        }
    }

    &__slider-info-text{
        p{
            @include jostRegular();
            
            font-size: 18px;
            margin-top: 40px;
            color: $colorTechText;
        }
    }

    &__slider-info-btn{
        text-align: right;
       margin-top: 60px;
        button{
            @include poppinsLight();

            font-size: 18px;
            color: $colorBtnContent;
            background: $colorWhite;
            border: 1px solid $colorTechText;
            padding: 6px 18px;
            border-radius: 10px;
        }
    }
} 

.active{
    margin-top: -40px;
    transition: .2s ease-in;
}

.showInfo{
    display: block;
}